@import "_settings";
@import "~foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-grid;
@include foundation-forms;
@include foundation-button;
@include foundation-button-group;
@include foundation-table;
@include foundation-float-classes;
@include foundation-callout;


@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/Roboto-Bold-webfont.eot');
    src: url('/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icon';
    src: url('/fonts/twig.eot');
    src: url('/fonts/twig.eot?#iefix') format('embedded-opentype'),
         url('/fonts/twig.woff') format('woff'),
         url('/fonts/twig.ttf') format('truetype'),
         url('/fonts/twig.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #fafafa;
}


h3 {
    font-size: 1.1475rem;
    small {
        color: #70749b;
    }
}

h4 {
    font-size: 1.125rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root, #map, [data-reactroot] {
    height: 100%;
}

.button {
    margin: 0 0 0 4px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.32);
    background: #235ba0;
    padding: 10px;
    // border-bottom: 1px solid #1779ba;
    color: #c6c6e4;
    font-family: 'robotobold';
    &.active {
        background: #1779ba;
        // border-bottom: 1px solid #99a;
        color: #fff;
    }

    &.action {
        background: #e1196d;
    }
}

.navigation {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
}

.plot {
    &.active {
        top: 0;
        position: absolute;
        background: rgba(53, 41, 78, 0.5) url('/target.png') 50% 50% no-repeat;
        height: 100%;
        width: 100%;
        z-index: 120;
    }

    h3 {
        margin-top: 0;
    }


    &__direction {
        input[type=number] {
            width: 66%;
            display: inline-block;
            float: left;
        }
        input[type=button] {
            width: 30%;
            display: inline-block;
            float: right;
            margin: 0;
            box-shadow: none;
            padding-bottom: 11px;
            font-size: 15px
        }
    }

    &__interface {
        position: absolute;
        z-index: 122;
        background: #fafafa;
        top: 60px;
        right: 10px;
        width: 300px;
        padding: 20px 30px;
        border-radius: 2px;

        label {
            margin-top: -18px;
            text-align: right;
            margin-bottom: 14px;
        }
    }

    &__open, &__close {
        position: absolute;
        top: 10px;
        right: 54px;
        left: auto;
        z-index: 121;
        width: 160px;
    }

    input[type=submit] {
        margin-top: 10px;
    }

}

.history { 

    &__interface {
        display: none;
    }

    &.active {
        display: block;
        background: #fafafa;
        padding: 30px;
        height: 100%;
        width: 100%;
        z-index: 131; 

        & .history__interface {
            display: block;
        }
    }

    &__open, &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto;
        z-index: 111;
        width: 40px;
    }

    .icon:after {
        font-family: 'icon';
        content: "\E039";
        font-size: 1.2em;
        line-height: 2px;
        position: relative;
        top: 4px;
    }

    &__close .icon:after {
        content: "\E01B";
    }

    &__table {
        font-size: 0.9em;
    }

    &__sidebar {
        margin-top: 44px;
    }
}

.navigation .button:after {
    font-family: 'icon';
    content: "\E014";
    font-size: 1.2em;
    line-height: 2px;
    position: relative;
    top: 4px;
    padding-left: 9px;
}

.navigation .button.active:after {
    font-family: 'icon';
    content: "\E013";
}

.color-scale {
    position: absolute;
    z-index: 100;
    border-radius: 2px;
    bottom: 24px;
    right: 48px;
    background: #fafafa;
    width: 300px;
    padding: 4px 8px 4px 4px;
    display: none;

    &.active {
        display: block;
    }

    h4 {
        margin: 5px 8px;
    }

    table {
        width: 100%;
        margin-bottom: 0;
        tbody, tr, td {
            background: none;
        }
        td {
            width: 10%;
            text-align: center;
            font-size: 0.9em;
            padding: 0;
        }
    }

    &__bar {
        width: calc(100% - 16px);
        height: 20px;
        margin: 2px 10px 10px;
        background: linear-gradient(to right, #42a5cf 0%,#ede316 52%,#ff6c00 100%);
    }
}

.dev {
    position: absolute;
    z-index: 100;
    bottom: 5px;
    left: 5px;
    background: #eee;
    padding: 10px;
    font-size: 14px;
}

.map-interface {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: none;

    &.active {
        display: block;
    }
} 

 